A {text-decoration: none}

.card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 3em;
}


.no-user-message {
  color: white;
  width: 100%;
  text-align: center;
  font-size: 4em;
  font-weight: bold;
  margin: 0 0 1em 0
}

.no-user-message:hover {
  color: #FAD61D;
  transform: scale(1.2) rotate(2deg);
}

.no-team-display {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.no-team-message {
  font-size: 4em;
  font-weight: bold;
  color: #FAD61D;
  text-align: center;
}

.no-team-message:hover {
  color: #E19720;
  transform: scale(1.4)
}

.make-team-button {
  font-size: 7em;
  font-weight: bolder;
  width: 8em;
  height: 2.5em;
  align-self: center;
  border-radius: 1em;
  margin-bottom: 1em;
}

.edit-team-button {
  background: linear-gradient( #dbdbdb 65%, #4d4d4d 30%);
  border: solid #0a0a0a .1em;;
  border-radius: 1em;
  font-size: 7em;
  font-weight: bolder;
  width: 8em;
  height: 2.5em;
  align-self: center;
  margin: 0 0 .5em 2.5em;
}


.poke-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 3em;
}
