.poke-form {
  margin: 2em 4em;
}

.poke-form:hover {
  transform: scale(1.5);
  margin-bottom: 4em;
  margin-top: 4em;
}

.poke-form-fieldset{
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  /* align-items: center; */
  font-size: 1.5em;
  width: 12em;
  height: 12em;
  /* background-color: #f0f0f0; */
  background: linear-gradient(#f00000 0%, #f00000 45%, #222224 0%, #222224 50%,  #f0f0f0 0%, #f0f0f0 50%);
  border: solid #222224 .5em;
  border-radius: 50%
}
 input {
   width: 10em;
   border: solid #222224 .2em;;
   border-radius: .4em;
   text-align: center;
   /* font-size: 1em; */
 }

 label {
   font-weight: bold;
 }

.pokemon-label {
 margin-left: .7em;
}

.name-label {
 margin-left: 1.5em;
}

.pokemon-div {
  margin: 1em 0 0 3.2em;
  /* text-align: center; */
}

.name-div {
  margin: .8em 0 0 3.2em;
}

.poke-form-fieldset > * {
  /* margin: .2em 0; */
}

.poke-form-fieldset > div {
  display: flex;
  flex-direction: column;
}

.poke-form-fieldset > button {
  border: solid #222224 .6em;
  border-radius: 50%;
  margin: 1em 0 0 4.5em;
  font-size: .9em;
  font-weight: bold;
  width: 4.5em;
  height: 4.5em;
}
