A {text-decoration: none}

.header{
  background-color: #3c5aa6;
  min-height: 7em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: double 1em #E19720;
  align-items: center;

}

.header-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 2em;
}

.header-icon{
  width: 7em;
  height: 7em;
  margin: 0;
  margin-top: -.5em;
}

.home-text {
  margin: 0 0 0 0;
  color: #FAD61D;
}

.header-div:hover {
  transform: scale(1.2) rotate(20deg)
}

.page-name {
  font-size: 4.5em;
  font-weight: bold;
  color: #FAD61D;
  text-decoration: none;
  margin:  .3em 0 0 -1.5em;
}

.page-name:hover {
  font-weight: bolder;
  transform: scale(1.1) rotate(5deg);
}

.header-button {
  font-size: 2.5em;
  font-weight: bold;
  max-height: 1.9em;
  width: 5em;
  align-self: flex-end;
  margin: 1em 2em 0 0;
  background-color: #FAD61D;
  color: #E19720;
  border: solid .15em;
  border-radius: .2em .5em;
}

.header-button:hover {
  transform: scale(1.1)
}

.user-message {
  color: #FAD61D;
  font-size: 1.8em;
  margin: 1.8em 0 0 -3em;
}

.user-image {
  width: 6em;
  border-radius: 50%;
  margin-top: 1em;
}
